html { 
    background: url(/images/bg-pattern-card.svg);
    background-size: cover;
    font-family: 'Kumbh Sans', sans-serif;
}

span {
    color: gray;
    font-weight: lighter;
}

.container {
    width: 50%;
    margin: 10rem auto;
    text-align: center;
    background: #00C9FF;
    background: linear-gradient(180deg, #92FE9D, #00C9FF, #edf6f7 30%); 
    border-radius: 1.5rem;
}

img {
    border-radius: 50%;
    border: 5px solid white;
    margin-top: 5rem;
}

.user {
    padding-bottom: 2rem;
    border-bottom: 1px solid lightgray;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 0;
    font-weight: bold;
    line-height: .5rem;
}

.stats span {
    font-size: .75rem;
}

.footer {
    font-size: .75rem; 
    text-align: center;
}

.footer a { 
    color: hsl(228, 45%, 44%); 
}